.justify-content-center{
    display: flex;
    justify-content:center;
    align-items:center;
}
.text-black{
    color: #000 !important;
}

.not-rounded{
    border-radius: 0% !important;
}

.m-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.m-rl-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media(max-width:750px){
    .custom-header{
        position: fixed;
        z-index: 100;
        width: 100%
    }
    .custom-container{
        margin-top:88px;
        min-width: 350px;
        min-height: 75vh;
        margin-bottom: 50px;
    }
    .custom-container-without-space{
        margin-top:74px;
        min-width: 350px;
        min-height: 75vh;
        margin-bottom: 50px;
    }
}
/*******************************************BottomMenu********************************/
.bottom-menu-style {
    background: #e9ecef;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    margin-left: 0px;
}

.bottom-menu-col{
    margin-bottom: 0rem !important;
    display: flex;
    justify-content:center;
    align-items:center;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.bottom-menu-icon{
    width: 30px !important;
    height: 30px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.bottom-menu-button {
    border-color: none;
    font-size: 13px;
    padding: 5px 0px;
    border-color: transparent;
}
/****************************************END-BottomMenu********************************/

.standard-card-tool-button{
    border-color: none;
    font-size: 13px;
    padding: 0px;
    border-color: transparent;
}

.standard-card-body{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: white;
}

.img-standard-card{
    border: transparent;
    width: 100%;
}

.tool{
    float:left;
    margin-right: 7px !important;
    margin-left: 20px !important;
}

.row-standard-card-text{
    margin-top:6px !important;
    padding-right:10px; 
    padding-left:12px; 
    color:black;
}

.buy-button{
    right: 24px;
    position: absolute;
}

/*************** CARD SELLS ********************/

.title-custom{
    text-align: center;
    font-size: larger;
    background: rgb(230, 235, 236);
}

.row-custom {
    margin-left: 17%;
    width: 100%;
}

@media(max-width: 640px){
    .row-custom {
        margin-left: 0;
    }
}

.chip-status{
    margin-top: -12px;
    margin-bottom: 5px;
}

.button-view-custom {
    padding: 6px;
    font-size: larger;
    border-radius: 80px;
    width: 43px;
    box-shadow: 0 2px 2px #888888;
}


/****************MY LIKED CARD SELL***********************/

.user-header {
    position: absolute;
    background: #e6ebec52;
    width: 100%;
}

.user-image-cardsells {
    width: 40px; 
    height: 40px;
    outline: none !important;
}

.heart-icon {
    font-size: x-large;
    padding: 0;
    float: left;
    margin-left: 22px;
    color: red;
    cursor: pointer;
}

.share-icon {
    font-size: x-large;
    padding: 0;
    float: left;
    margin-left: 22px;
    cursor: pointer;
}

.see-details-liked-sells {
    padding: 11px;
    border-radius: 80px;
    width: 45px;
    box-shadow: 0 6px 6px #888888;
    height: 45px;
    float: right;
    margin-top: -15px;
    margin-right: 28px;
}
/************************************************SideBar*******************************/

.sidebar-img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px !important;
    margin-top: 20px; 
}

.sidebar-options-container{
    margin-top: 10px !important;
}

/***********************************************Settings***************************************/

.title-option{
    background: rgb(168, 167, 173);
    margin-bottom: 0px;
    padding: 7px;
    padding-left: 18px;
    font-size: 24px;
    font-weight: bold;
}

/***********************************************DetailEarningUser***********************************/

#detail-earning-chart canvas{
    
}


/***************************************** Search Component *************************************/

.div-search{
    padding: 18px;
    background: #ededed;
}

.input-search {
    width: 90%;
    float: right;
    margin-top: -8px;
    margin-right: 50px
}

.result-search{
    margin-top: 20px
}

@media(max-width: 640px){
    .input-search{
        width: 90%;
        float: right;
        margin-top: -8px;
        margin-right: 0px
    }

    .div-search{
        padding: 14px;
        background: #ededed;
    }

    .result-search{
        margin-top: 25px
    }
}

/**************************************HomePage************************************/

.btn-show{
    padding: 11px;
    border-radius: 80px;
    width: 45px;
    box-shadow: 0 6px 6px #888888;
    height: 45px;
    right: 43px;
    position: absolute;
}